    <nav class="navbar navbar-default fixed-width">

        <div class="fixed-width">
            <ul class="nav navbar-nav">

                <li ng-repeat="item in data" class="dropdown">
                    <a href="{{item.link}}" class="dropdown-toggle" data-toggle="dropdown">{{item.label}}</a>
                    <ul class="{{item.dropdownclass}} sub_menu">
                        <li ng-repeat='subitem in item.subitems'><a href="{{subitem.link}}">{{subitem.label}}</a></li>
                    </ul>
                    <div class="clear"></div>
                </li>

            </ul>
        </div>
    </nav>
